@model PizzaParlour.Models.PizzaViewModels.PizzaListingModel

@{
    ViewData["Title"] = "Papa Bob's";
}

<div class="ml-5">
    <div class="row justify-content-center align-items-center">
        <img src="~/Content/Images/PapaBob.png" />
        <h1>Papa Bob's Pizza and Software</h1>
    </div>
    <hr />
    <form asp-action="Index" asp-controller="Home">
        <h6>Choose your pizza size:</h6>
        <table class="table table-hover" id="pizzaSizeTable">
            <thead>
                <tr class="d-flex text-center">
                    <th class="col-md-3">
                        @{
                            <label asp-for="@Model.Sizes.FirstOrDefault().Description"></label>
                        }
                    </th>
                    <th class="col-md-1">
                        @{
                            <label asp-for="@Model.Sizes.FirstOrDefault().Price"></label>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sizes)
                {
                    <tr class="d-flex">
                        <td class="col-md-3">
                            <input type="radio" asp-for="SelectedSizeId" value="@item.Id" class="align-middle" />
                            <span class="align-middle">@item.Description</span>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="align-middle">@item.Price</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<div>
            @Html.ValidationMessageFor(x => x.Sizes, "", new { @class = "text-danger" })
        </div>*@
        <div asp-validation-for="SelectedSizeId" class="text-danger"></div>
        <h6>Choose your pizza depth:</h6>
        <table class="table table-hover" id="pizzaDepthTable">
            <thead>
                <tr class="d-flex text-center">
                    <th class="col-md-3">
                        @{
                            <label asp-for="@Model.Depths.FirstOrDefault().Description"></label>
                        }
                    </th>
                    <th class="col-md-1">
                        @{
                            <label asp-for="@Model.Depths.FirstOrDefault().Price"></label>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Depths)
                {
                    <tr class="d-flex">
                        <td class="col-md-3">
                            <input type="radio" asp-for="SelectedDepthId" value="@item.Id" class="align-middle" />
                            <span class="align-middle">@item.Description</span>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="align-middle">@item.Price</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @*<div>
            @Html.ValidationMessageFor(x => x.SelectedDepthId, "", new { @class = "text-danger" })
        </div>*@
        <div asp-validation-for="SelectedDepthId" class="text-danger"></div>
        <h6>Choose your pizza toppings:</h6>
        <table class="table table-hover" id="pizzaToppingTable">
            <thead>
                <tr class="d-flex text-center">
                    <th class="col-md-3">
                        @{
                            <label asp-for="@Model.Toppings.FirstOrDefault().Description"></label>
                        }
                    </th>
                    <th class="col-md-1">
                        @{
                            <label asp-for="@Model.Toppings.FirstOrDefault().Price"></label>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Toppings)
                {
                    <tr class="d-flex">
                        <td class="col-md-3">
                            <input type="checkbox" name="IsToppingChecked" value="@item.Id" class="align-middle" />
                            <span class="align-middle">@item.Description</span>
                        </td>
                        <td class="col-md-1 text-center">
                            <span class="align-middle">@item.Price</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h2>
            Papa Bob's<span class="text-danger"> Special Deal</span>
        </h2>
        <br />
        <p>Save $2.00 when you add Pepperoni, Green Peppers and Anchovies OR Pepperoni, Red Peppers and Onions to your order.</p>
        <br />
        <input type="submit" class="btn btn-primary" value="Purchase" />
        <p>Customer pays: @Model.CustomerPizza.OrderedPizzaPrice</p>
    </form>
</div>


